<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <h1>{{title}}</h1>
        <p>Disfruta de las publicaciones de tus amigos y comparte tu vida!</p>
        <p>
            <a href="#" class="btn btn-success btn-lg" role="button">
                Mi perfil
            </a>
            <a href="#" class="btn btn-primary btn-lg" role="button">
                Timeline
            </a>
            <a href="#" class="btn btn-light btn-lg" role="button">
                Gente
            </a>
        </p>
    </div>
</div>