<div class="col-lg-8 flotante">
    <h1 class="h1-strong">{{title}}</h1>

    <div id="data-profile" *ngIf="user">
      <div class="avatar">
        <img src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image" />
        <img src="assets/user.png" *ngIf="!user.image">
      </div>

      <div class="user-name">
        <div class="badge bg-secondary text-light" *ngIf="followed">
          Te sigue
        </div>
        <div>
          <p class="name">{{user.name + ' ' + user.surname}}</p>
          <p class="nick">{{user.nick}}</p>
        </div>


        <div class="follow">


          <button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
            Seguir
          </button>
          <button class="btn btn-primary" *ngIf="following" (click)="unfollowUser(user._id)">
            Dejar de seguir
          </button>
        </div>

      </div>
    </div>
</div>

<div class="col-lg">
  <sidebar></sidebar>
</div>
