<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="people list-group">
        <div *ngFor="let user of users" class="item-user list-group-item">
 
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{url +'get-image-user/'+user.image}}" *ngIf="user.image"/>
                            <img src="assets/user.png" class="avatar-default" *ngIf="!user.image"/>
                        </a>
                    </div>

                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a href="#">
                                {{user.name + ' ' + user.surname}}
                            </a>
                        </p>
                        <p class="nickname">{{user.nick}}</p>
                    </div>

                    <!--SEGUIR/DEJAR DE SEGUIR-->
                    <div class="follow-buttons" *ngIf="user._id != identity._id">
                        <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0"
                        (click)="followUser(user._id)">
                            <i class="bi bi-plus-circle-fill"></i>
                            Seguir
                        </button>
                        
                        <button class="btn btn-primary" 
                        *ngIf="follows.indexOf(user._id) >= 0"
                        (mouseenter)="mouseEnter(user._id)"
                        (mouseleave)="mouseLeave(user._id)"
                        (click)="unfollowUser(user._id)"
                        [class.btn-danger]="user._id == followUserOver">
                            <span *ngIf="user._id == followUserOver; else following">
                                <i class="bi bi-dash-circle-fill"></i>
                                Dejar de seguir
                            </span>
                            
                            <ng-template #following>
                                <i class="bi bi-check-circle-fill"></i>
                                    Siguiendo
                            </ng-template>
                        </button>
                    </div>

        </div>
    </div>

    <!--PAGINACION-->
    <div class="pagination">
        <ul>
            <li *ngIf="page > 1"><a [routerLink]="['/gente', prev_page]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/gente', next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>