<div class="col-lg-8 flotante">
  <h1 class="h1-strong">{{title}}</h1>
  <div id="publications" class="list-group">
    <div *ngFor="let publication of publications" class="item-publication list-group-item">

        <div class="image-user">
          <a href="#">
              <img src="{{url +'get-image-user/'+publication.user.image}}" *ngIf="publication.user.image"/>
              <img src="assets/user.png" class="avatar-default" *ngIf="!publication.user.image"/>
          </a>
        </div>
      <div class="user-name">
        <div>
          <span>
            {{publication.user.name + ' ' + publication.user.surname}}
          </span>
          &nbsp;|&nbsp;
          <span class="date">
            {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
          </span>
      </div>

          <h4 class="publication-text">
            {{publication.text}}
          </h4>
      </div>

    </div>
  </div>

  <div class="col-lg-12 text-center">
    <p>
      <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
        Ver más publicaciones
      </button>
    </p>
  </div>

</div>



<div class="col-lg">
  <sidebar></sidebar>
</div>
