/*Generales*/
.active{
    background: #cc1717;
}

.pointer{
    cursor: pointer;
}
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

/*Cabecera*/
.navigation {
    padding: 0px !important;
}

.navigation .avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 8px;
    margin-right: 5px;
}

.navigation .avatar img{
    margin-top: -5px;
    margin-left: -5px;
    height: auto;
    width: 35px;
}
.navigation .navbar {
    border-radius: 0px !important;
    padding: 0px;
    background: #e53c37 !important;
    border: none;
}

.navigation .navbar * {
    color: white !important;
}

.navigation .navbar li:hover{
    background: #cc1717 !important;
}
.navigation .navbar li{
    padding: 5px;
}

.navigation .navbar .dropdown-menu *{
    color: black !important;
}

.jumbotron{
    padding: 25px;
    border-radius: 5px !important;
    text-align: center;
}

/*AVATAR DE USUARIOS*/
.item-user .image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    float: left;
}

.item-user .image-user img{
    width: 73px;
}

.item-user .user-name{
    margin-top: 5px;
    float: left;
}

.item-user .user-name .nickname{
    color: #969393;
    margin-top: -10px;
}

.item-user .user-name .name-surname a{
    color: #555;
    font-weight: bold;
}

.avatar-default{
    width: 100% !important;
}